<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}"
>
<head>
  <title layout:fragment="title">Create todo</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Create a todo</h1>

  <a th:href="@{/todos}" class="btn btn-primary">Back</a>

  <form method="post" th:action="@{/todo/{todoId}/update(todoId=${todo.id})}" th:object="${todo}">
    <input type="hidden" name="id" th:field="*{id}">

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
    </div>

    <div
            th:if="${#fields.hasErrors('name')}"
            class="text-danger"
            th:errors="*{name}"
    >
    </div>

    <div class="error"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>